.color-white{ color: white; }
.color-black{ color: rgb(0, 0, 0); }
.color-bluedark{ color: rgb(69,131,202); }
.bg-blue-ligth{ background: rgb(223,245,255); }
.bg-yellow{ background:rgb(255, 246, 121) };
.bg-blue { background: rgb(144, 205, 255); }
.bg-bluedark { background: rgb(69,131,202); }
 
.bg-blue-item { background: rgb(195,208,216); }
.bg-silver{ background: rgb(238, 238, 238); }
.bg-green-soft{ background: rgb(156, 255, 118); }

.bg-green{ background: rgb(188, 255, 87) };
.color-green{ color: rgb(138, 194, 55) };

.bg-red{ background: red };
.bg-gradient-1 { background-image: linear-gradient(to left, #a8edea 0%, #fed6e3 100%);}

.bg-orange-soft { background: rgb(255, 236, 150) };
.bg-silver-darck{ background:rgb(46, 46, 46) };
.bg-silver-soft{ background:rgb(224, 224, 224) };
 
.bg-white {  background: rgb(255, 255, 255); }
 
.bg-celeste{  background:rgb(108, 240, 222); }

.color-red { color: red; }
.color-blue-soft { color:rgb(101, 204, 230); }
.color-orange { color:rgb(173, 117, 13); }
//.color-blue { color:rgb(27, 89, 184); }
 

