@import "./_screen.scss";

.paragraphs, .paragraphs-question, .paragraphs-res, .paragraphs-response , .paragraphs-chat{
    font-family: 'Poppins', sans-serif;  
    
}

.paragraphs, .paragraphs-res{ font-size: .8em; line-height: 24px;
    
    @include  tablet { font-size: 1em; }

}

.text-limit { overflow: hidden; text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.paragraphs-chat { font-size: .7em;  }

.text-center { margin: auto; }

.paragraphs{ color: black; }

.paragraphs-question{ touch-action: none; color: black; -webkit-touch-callout: none; }

.paragraphs-response{ font-weight: bold;  line-height: normal; color: rgb(15, 133, 35);  }

.paragraphs-marck{ color: blue; font-weight: bold; }